* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}





.btn,
.btn-stop {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn {
    background-color: #4caf5e;
    margin: 0px 5px;
    color: white;
    border-radius: 100px;

    font-size: 1rem;


}

#tts-btn {
    display: none;
}



.btn-stop {
    background-color: #f44336;
    color: white;
    display: none;
    border-radius: 20px;
}

.btn:hover {
    background-color: #52dc6c;
}

.btn-stop:hover {
    background-color: #b72218;
}

.btn-hide {
    display: none;
}

.btn-stop-hide {
    display: none;
}

#tts-btn-2 {
    display: none;

}

.container {

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avatar-box {
    display: inline-block;
    border: 1px solid rgb(198, 198, 198);
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
        0 6px 20px rgba(0, 0, 0, 0.19);
    transition: transform 0.1s, box-shadow 0.1s;


}

@keyframes bounce {
    0% { transform: scale(1); }
    30% { transform: scale(0.9); }
    50% { transform: scale(1.05); }
    70% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

.avatar-box.clicked {
    animation: bounce 0.3s;
}

.avatar-box:hover {
    box-shadow: 0 4px 8px rgba(74, 74, 74, 0.2),
        0 6px 20px rgba(67, 66, 66, 0.19);
}

.avatar-box img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.avatar-box img:hover {
    cursor: pointer;
}

.permissions-conatiner {
    display: flex;
}





.spinner {
    border: 3px solid white;
    border-radius: 50%;
    border-top: 3px solid #126fd6;
    /* You can adjust the color */
    width: 20px;
    /* Adjust the size as needed */
    height: 20px;
    /* Adjust the size as needed */
    animation: spin 1s linear infinite;
    display: block;

}

#spinner-box {
    display: none;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    /* border: 1px solid black; */
    /* margin-top: 10px; */
    font-size: 16px;
    color: #126fd6;
    font-weight: 900;

}

#spinner-box p {
    font-weight: 400;
}

.bpw-button {
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}


@media (max-width: 500px) {
    .body-head {
        flex-wrap: wrap;
        gap: 10px;
    }


}